<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref='/typeofvisit'></ion-back-button>
        </ion-buttons>
        <ion-title class="ion-text-capitalize ion-text-center">IngresAr</ion-title>
    </ion-toolbar>
</ion-header>


<ion-content>
    <ion-button color="secondary" (click)="getMarca()">Marca</ion-button>
    <ion-button color="tertiary" (click)="getModelo()">Modelo</ion-button>
    <ion-button color="success" (click)="getColor()">Color</ion-button>
    <ion-button color="warning" (click)="getSeguro()">Seguro</ion-button>
    <h2>Informacion del Vehiculo</h2>
    <h6>Dominio*</h6>
    <ion-row>
        <ion-item>
            <ion-input placeholder="ingrese dominio"></ion-input>
        </ion-item>
    </ion-row>
    <h6>Marca</h6>
    <ion-row>
        <ion-item>
            <ng-container *ngIf="marcas===undefined; else elseTemplate">

            </ng-container>
            <ng-template #elseTemplate>
                <select class="form-control" id="sel1" [(ngModel)]="brand">
                    <option *ngFor="let marca of marcas, let i=index">{{marca.nombreMarca}}</option>
                </select>
            </ng-template>
        </ion-item>

    </ion-row>
    <h6>Modelo</h6>
    <ion-row>
        <ion-item>
            <select class="form-control" id="sel1">
                <option  *ngFor="let item of marca">{{item.nombre}}</option>
              </select>
        </ion-item>
    </ion-row>
    <h6>Color</h6>
    <ion-row>
        <ion-item>
            <select class="form-control" id="sel1">
                <option  *ngFor="let item of marca">{{item.nombre}}</option>
            </select>
        </ion-item>
    </ion-row>
    <h6>Aseguradora</h6>
    <ion-row>
        <ion-item>
            <select class="form-control" id="sel1">
                <option  *ngFor="let item of aseguradora">{{item.nombre}}</option>
                
              </select>
        </ion-item>
    </ion-row>
    <h6>Vencimiento de seguro</h6>
    <ion-row>
        <ion-item>
            <ion-label>Mes/Dia/Año</ion-label>
            <ion-datetime displayFormat="MM DD YY" placeholder="Select Date"></ion-datetime>
        </ion-item>

    </ion-row>
    <ion-button color="primary" routerLink="/authorization" routerLinkActive="router-link-active">Aceptar</ion-button>
    <ion-button color="primary" (click)="postVehiculo()">Crear</ion-button>


</ion-content>