<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-back-button defaultHref='/events/places'></ion-back-button>
        </ion-buttons>
        <ion-title class="ion-text-capitalize ion-text-center animated fadeIn">{{espacioComun?.nombreEspacioComun}}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" fullscreen>
    <ion-row>
        <ion-col style="text-align: center;">
            <ng-container *ngIf="espacioComun===undefined; else elseTemplate">
                <div style="height: 318px; width: auto;"></div>
            </ng-container>
            <ng-template #elseTemplate>
                <img [src]="convertedImage" style="height: 318px; width: auto;" class="img-fluid animated fadeIn " alt="Responsive image">

            </ng-template>

            <ion-item>
                <ion-label>Disponible Desde</ion-label>
                <ion-label>{{espacioComun?.horaDesde | date:"shortTime"}}</ion-label>
            </ion-item>

            <ion-list>
                <ion-item>
                    <ion-label>Disponible Hasta</ion-label>
                    <ion-label>{{espacioComun?.horaHasta| date:"shortTime"}}</ion-label>
                </ion-item>
            </ion-list>
        </ion-col>
    </ion-row>
    <ion-fab vertical="bottom" horizontal="end" slot="fixed" (click)="onClick()">
        <ion-fab-button>
            <ion-icon name="add"></ion-icon>
        </ion-fab-button>
    </ion-fab>
</ion-content>