<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-back-button defaultHref='/'></ion-back-button>
        </ion-buttons>
        <ion-title class="ion-text-capitalize ion-text-center">Detalle Planilla</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

    <ng-container *ngIf="planilla === undefined || planilla === null;else elseTemplate">
        <ion-row class="spinner">
            <ion-spinner name="lines"></ion-spinner>
        </ion-row>
    </ng-container>

    <ng-template #elseTemplate>
      <h6>Datos del Ingresante </h6>
      <ion-card class="animated fadeIn">
          <ul class="list-group animated fadeIn">
              <li class="list-group-item">Apellido: {{planilla.planillaPersona.apellidoPersona}} </li>
              <li class="list-group-item">Nombre: {{planilla.planillaPersona.nombrePersona}} </li>
              <li class="list-group-item">DNI: {{planilla.planillaPersona.dniPersona}} </li>
              <li class="list-group-item" *ngIf="planilla.autorizadoPrevio === false">Autorización previa: No</li>
              <li class="list-group-item" *ngIf="planilla.autorizadoPrevio === true">Autorización previa: Si</li>
              <li class="list-group-item">Fecha Ingreso: {{planilla.fechaIngreso | date: 'dd-MM-yyyy'}} </li>
              <li class="list-group-item">Hora Ingreso: {{planilla.fechaIngreso | date: 'shortTime' }}</li>
              <li class="list-group-item" *ngIf="planilla.fechaEgreso !== null">Fecha Egreso: {{planilla.fechaEgreso | date: 'dd-MM-yyyy'}} </li>
              <li class="list-group-item" *ngIf="planilla.fechaEgreso !== null">Hora Egreso: {{planilla.fechaEgreso | date: 'shortTime'}} </li>
              <li class="list-group-item" *ngIf="planilla.fechaEgreso === null">Fecha Egreso: </li>
              <li class="list-group-item" *ngIf="planilla.fechaEgreso === null">Hora Egreso: </li>
              <li class="list-group-item" *ngIf="planilla.planillaVehiculo !== null">Vehiculo: {{planilla.planillaVehiculo.vehiculoMarca.nombreMarca}} Dominio: {{planilla.planillaVehiculo.dominio}} </li>
              <li class="list-group-item" *ngIf="planilla.ingresoAPie === true">Ingreso a Pie</li>
              <li class="list-group-item" *ngIf="planilla.acompaniantes !== 0">Nro Acompañantes: {{planilla.acompaniantes}}</li>
          </ul>
        </ion-card>
        <h6 class="mt-3" *ngIf="planilla.planillaAcompaniantes.length !== 0">Lista Acompañantes</h6>
        <!-- <ion-card class="animated fadeIn">
          <ul class="list-group animated fadeIn" *ngFor="let p of planilla.planillaAcompaniantes">
              <li class="list-group-item">Apellido: {{p.apellidoPersona}} </li>
              <li class="list-group-item">Nombre: {{p.nombrePersona}} </li>
              <li class="list-group-item">DNI: {{p.dniPersona}} </li>
          </ul>
        </ion-card> -->

        <ion-row>
            <ion-card class="animated fadeIn">
              <ion-item *ngFor="let p of planilla.planillaAcompaniantes">
                <ion-list>
                  <ion-row>
                    <ion-col class="tamaño">
                      <ion-label>{{p.apellidoPersona}} </ion-label>
                    </ion-col>
                    <ion-col class="tamaño">
                        <ion-label>{{p.nombrePersona}} </ion-label>
                    </ion-col>
                    <ion-col class="tamaño">
                        <ion-label>{{p.dniPersona}} </ion-label>
                    </ion-col>
                  </ion-row>
                </ion-list>
              </ion-item>
            </ion-card>
          </ion-row>

    </ng-template>

</ion-content>
