<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-back-button defaultHref='/menu-owner'></ion-back-button>
        </ion-buttons>
        <ion-title class="ion-text-capitalize ion-text-center">Lista de Amigos</ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content class="ion-padding">


    <ion-row style="place-content: center">
        <ion-item>
            <ion-label position="floating">Nombre Lista Amigos
                <ion-text color="danger">*</ion-text>
            </ion-label>
            <ion-input required type="text" [(ngModel)]="nombreListaAmigo"></ion-input>
        </ion-item>
      </ion-row>

    <ion-row class="mt-4">
      <ion-label>Amigos</ion-label>
    </ion-row>


    <ion-row *ngIf="ListaAmigo !== []" class="mt-2">
        <ion-card>
          <ion-item *ngFor="let amigo of ListaAmigo, let i = index">
            <ion-list>
              <ion-row>
                <ion-col class="tamaño">
                  <ion-label>{{amigo.apellidoPersona}} </ion-label>
                </ion-col>
                <ion-col class="tamaño">
                    <ion-label>{{amigo.nombrePersona}} </ion-label>
                </ion-col>
                <ion-col class="tamaño">
                    <ion-label>{{amigo.dniPersona}} </ion-label>
                </ion-col>
                <ion-col class="tamañoIcon">
                  <ion-button shape="round" fill="outline" (click)="eliminarAmigo(i)">
                    <ion-icon name="remove"></ion-icon>
                  </ion-button>
                </ion-col>
              </ion-row>
            </ion-list>
          </ion-item>
        </ion-card>
      </ion-row>

      <ion-row *ngIf="sinDato" class="mt-2" style="place-content: flex-end;">
        <ion-button [disabled]="!(nombreListaAmigo)" (click)="crearLista()">Crear Lista</ion-button>
      </ion-row>

</ion-content>

<ion-footer>
    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button routerLink="/new-friend">
          <ion-icon name="add"></ion-icon>
        </ion-fab-button>
    </ion-fab>
</ion-footer>
