<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref='/dnisearch'></ion-back-button>
        </ion-buttons>
        <ion-title class="ion-text-capitalize ion-text-center">IngresAr</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content fullscreen>
    <ion-list lines="full" class="ion-no-margin ion-no-padding">
        <ion-item>
            <ion-label position="stacked">Nombre Empresa
                <ion-text color="danger">*</ion-text>
            </ion-label>
            <ion-input required type="text" [(ngModel)]="nombreEmpresa"></ion-input>
        </ion-item>

        <div class="ion-padding">
            <ion-button [disabled]="!(nombreEmpresa)" expand="block" type="submit" class="ion-no-margin" (click)="crearEmpresa()">Crear empresa</ion-button>
        </div>
    </ion-list>
</ion-content>