<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
           <ion-back-button defaultHref='/dnisearch'></ion-back-button>
        </ion-buttons>
        <ion-title text-capitalize class="ion-text-center">IngresAr</ion-title>
    </ion-toolbar>
</ion-header>

<!--<ion-content>
<h2>Complete los datos requeridos</h2>
<div  class="row h-100 justify-content-center align-items-center">
  <ion-row >
  <ion-row >
    <h3>Empresa de Servicio</h3>
  </ion-row>
  <ion-row >
    <ion-select placeholder="seleccionEmpresa" value="seleccionEmpresa" okText="seleccionEmpresa">Selecciona una Empresa
      <ion-select-option *ngFor="let item of empresa">{{item.nombre}}</ion-select-option>
    </ion-select>
    <ion-button>Agregar Empresa</ion-button>
  </ion-row>

</ion-row>
</div>
</ion-content>
-->

<ion-content fullscreen>
    <ion-list>
      <ion-item >
          <ion-label>Empresa de Servicio</ion-label>
          <ion-select>
            <div *ngFor="let empresa of empresas, let i = index">
              <ion-select-option class="select-people-size" [value]="i" (ionSelect)="selected($event)"> {{empresa.nombre}}</ion-select-option>
            </div>
            </ion-select>
      </ion-item>
    </ion-list>
<ion-button (click)="selected()">
  Click me
</ion-button>
  <div class="row h-100 justify-content-center align-items-center">
      <div>
          <div class="container-fluid h-100">
              <div class="row w-100">
                <div class="col">
                  <button type="button" class="btn btn-primary" [routerLink]="['/newcompany']" > Agregar Nueva Empresa </button>
                </div>
              </div>
          <div class="container-fluid h-100">
              <div class="row w-100">
                <div class="col">
                  <button type="button" class="hola btn btn-primary" [routerLink]="['/transport']" > Siguiente </button>
                </div>
              </div>
      </div>
      
  </div>

</div>

</div>

</ion-content>