<ion-header>
  <ion-toolbar color="primary">
      <ion-buttons slot="start">
          <ion-back-button defaultHref='/frient-list'></ion-back-button>
      </ion-buttons>
      <ion-title class="ion-text-capitalize ion-text-center">Lista de Amigos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ng-container *ngIf="listaAmigo === undefined;else elseTemplate">
      <ion-row class="spinner">
          <ion-spinner name="lines"></ion-spinner>
      </ion-row>
  </ng-container>
  
  <ng-template #elseTemplate class="animated fadeIn">
    <ion-row>
      <ion-card>
        <ion-item *ngFor="let l of listaAmigo?.amigos; let i = index">
          <ion-list>
            <ion-row>
              <ion-col class="tamaño">
                <ion-label>{{l.apellidoPersona}} </ion-label>
              </ion-col>
              <ion-col class="tamaño">
                  <ion-label>{{l.nombrePersona}} </ion-label>
              </ion-col>
              <ion-col class="tamaño">
                  <ion-label>{{l.dniPersona}} </ion-label>
              </ion-col>
              <ion-col class="tamañoIcon">
                <ion-button shape="round" fill="outline" (click)="deleteAmigo(i)">
                  <ion-icon name="remove"></ion-icon>
                </ion-button>
              </ion-col>
            </ion-row>
          </ion-list>
        </ion-item>
      </ion-card>
    </ion-row>
  </ng-template>


</ion-content>

<ion-footer>
    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button [routerLink]="['//add-friend', idLista]">
          <ion-icon name="add"></ion-icon>
        </ion-fab-button>
    </ion-fab>
</ion-footer>
