<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-back-button defaultHref='/events/places/id'></ion-back-button>
        </ion-buttons>
        <ion-title class="ion-text-capitalize ion-text-center animated fadeIn">{{espacioComun?.nombreEspacioComun}}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" fullscreen>
    <ion-list>
        <ion-item>
            <ion-label>Seleccione una fecha</ion-label>
            <ion-datetime [(ngModel)]="myDate" (ngModelChange)="ObtenerEventos()" value="i" display-format="DD.MM.YYYY"></ion-datetime>
        </ion-item>

    </ion-list>
</ion-content>