<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-back-button defaultHref='/startmenu'></ion-back-button>
        </ion-buttons>
        <ion-title class="ion-text-capitalize ion-text-center">Planilla Ingreso/Egreso</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

  <ion-row>
    <ion-col>
      <ion-row>
        <ion-item>
          <ion-label>Apellido</ion-label>
        </ion-item>
      </ion-row>
      <ion-row>
        <ion-item *ngFor="let p of planiallaIngresoEgreso">
          <ion-label> {{p.apellido}} </ion-label>
        </ion-item>
      </ion-row>
    </ion-col>
  
    <ion-col>
      <ion-row>
        <ion-item>
          <ion-label>DNI</ion-label>
        </ion-item>
      </ion-row>
      <ion-row>
        <ion-item *ngFor="let p of planiallaIngresoEgreso">
          <ion-label> {{p.dni}} </ion-label>
        </ion-item>
      </ion-row>
    </ion-col>
  
    <ion-col>
      <ion-row>
        <ion-item>
          <ion-label>Fecha Egreso</ion-label>
        </ion-item>
      </ion-row>
      <ion-row>
        <ion-item *ngFor="let p of planiallaIngresoEgreso">
          <ion-label> {{p.fehcaIngreso}}</ion-label>
        </ion-item>
      </ion-row>
    </ion-col>
      
    <ion-col>
      <ion-row>
        <ion-item>
          <ion-label>Fecha Egreso</ion-label>
        </ion-item>
      </ion-row>
      <ion-row>
        <ion-item *ngFor="let p of planiallaIngresoEgreso">
          <ion-label> {{p.fechaEgreso}} </ion-label>
        </ion-item>
      </ion-row>
    </ion-col>
  
    <ion-col>
      <ion-row>
        <ion-item>
          <ion-label>Dominio</ion-label>
        </ion-item>
      </ion-row>
      <ion-row>
        <ion-item *ngFor="let p of planiallaIngresoEgreso">
          <ion-label> {{p.dominio}} </ion-label>
        </ion-item>
      </ion-row>
    </ion-col>
  </ion-row>


</ion-content>
