<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-back-button defaultHref='/menu-owner'></ion-back-button>
        </ion-buttons>
        <ion-title class="ion-text-capitalize ion-text-center">Registros</ion-title>
    </ion-toolbar>
</ion-header>


<ion-content fullscreen class="ion-padding">
    <ng-container *ngFor="let planilla of planillas; let i=index">
        <ng-container *ngIf="planillas === undefined; else elseTemplate">

        </ng-container>
        <ng-template #elseTemplate>
            <ion-item [ngClass]="(i % 2 == 0) ? 'odd' : 'even'">
                <ion-label>
                    <h2><b>Persona: </b>{{planilla.planillaPersona.nombrePersona}} {{planilla.planillaPersona.apellidoPersona}}</h2>
                    <h3><b>Vehiculo: </b> {{ planilla.planillaVehiculo.vehiculoMarca?.nombreMarca }} {{ planilla.planillaVehiculo.vehiculoModelo?.nombreModelo }} <b>Dominio:</b> {{planilla.planillaVehiculo?.dominio}} </h3>
                    <p><b>Color: </b>{{planilla.planillaVehiculo.vehiculoColor?.nombreColor}}</p>

                </ion-label>
            </ion-item>
        </ng-template>

    </ng-container>


</ion-content>