<ion-header>
  <ion-toolbar>
    <ion-title>tipeofingress</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

    <ion-row class="row h-100 justify-content-center align-items-center">
      <ion-col>
        <ion-button expand="full" size="large" routerLink="/qringress">
          <ion-icon name="qr-scanner"></ion-icon>
          <ion-label>Ingreso <br> Rapido</ion-label>
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button expand="full" size="large" routerLink="/dniserch">
          <ion-icon name="clipboard"></ion-icon>
          <ion-label>Ingreso <br> Manual</ion-label>
        </ion-button>
      </ion-col>
    </ion-row>

</ion-content>
