<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-back-button defaultHref='/startmenu'></ion-back-button>
        </ion-buttons>
        <ion-title>Mensajes</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
    <ng-container *ngIf="Users==null; else elseTemplate">
    </ng-container>
    <ng-template #elseTemplate>
        <ion-list>
            <ion-item *ngFor="let user of Users; let i=index" (click)="onClick(user.id)">
                <ion-avatar slot="start">
                    <ng-container *ngIf="user?.imageUrl; else elseTemplate">
                        <img class="user-img" [src]="user.imageUrl" alt="../../../assets/image.png">
                    </ng-container>
                    <ng-template #elseTemplate>
                        <img class="user-img" src="../../../assets/image.png" alt="">
                    </ng-template>
                </ion-avatar>
                <ion-label>
                    <h2>{{user.firstName}} {{user.lastName}}</h2>
                </ion-label>
            </ion-item>
        </ion-list>
    </ng-template>
</ion-content>