<ion-header>
    <ion-toolbar color="primary">
        <ion-title class="ion-class ion-text-capitalize ">IngresAr</ion-title>
        <ion-buttons slot="start">
            <ion-menu-button menu="primerMenu" disable="true"></ion-menu-button>
        </ion-buttons>

    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="row mt-3 justify-content-center align-items-center">
        <img [src]="image" height="100px">
    </div>
    <div class="row h-75 justify-content-center align-items-center">
        <div expand="full">
            <button type="button" class="btn btn-primary btn-lg btn-block mr-1" routerLink="/typeofingress"><i class="fas fa-sign-in-alt mr-1"></i>Ingreso</button>
            <!-- <ion-button class="boton" color="primary" routerLink="/tipeofingress"><i class="fas fa-sign-in-alt mr-1"></i>Ingreso</ion-button> -->
        </div>
        <div expand="full">
            <button type="button" class="btn btn-secondary btn-lg btn-block ml-1" routerLink="/egress"><i class="fas fa-sign-out-alt mr-1"></i> Egreso</button>
        </div>
    </div>
</ion-content>