<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-back-button defaultHref='/menu-administrator'></ion-back-button>
        </ion-buttons>
        <ion-title class="ion-text-capitalize ion-text-center">IngresAr</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

  <ng-container *ngIf="normas === undefined;else elseTemplate">
      <ion-row class="spinner">
          <ion-spinner name="lines"></ion-spinner>
      </ion-row>
  </ng-container>

  <ng-template #elseTemplate>
    <ion-list>
      <ion-card class="animated fadeIn">
        <ion-item *ngFor="let n of normas; let i = index"  (click)="presentActionSheet(i)">
          <ion-icon slot="start" name="list-box"></ion-icon>
          <ion-label class="ml-2">{{n.titulonorma}}</ion-label>
        </ion-item>
      </ion-card>
    </ion-list>
  </ng-template>
  
</ion-content>

<ion-footer>
    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button (click)="crearNorma()">
          <ion-icon name="add"></ion-icon>
        </ion-fab-button>
    </ion-fab>
</ion-footer>
