<ion-header>
  <ion-toolbar color="primary">
      <ion-buttons slot="start">
          <ion-back-button defaultHref='/menu-owner'></ion-back-button>
      </ion-buttons>
      <ion-title class="ion-text-capitalize ion-text-center">Lista de Amigos</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content class="ion-padding">

    <ng-container *ngIf="listaAmigos === undefined;else elseTemplate">
        <ion-row class="spinner">
            <ion-spinner name="lines"></ion-spinner>
        </ion-row>
    </ng-container>
    
    <ng-template #elseTemplate>
      <ul class="list-group animated fadeIn">
        <li class="list-group-item" *ngFor="let l of listaAmigos; let i = index" (click)="presentActionSheet(i)"> {{l.nombreListaAmigos}} </li>
      </ul>
    </ng-template>


</ion-content>

<ion-footer>
    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button routerLink="/new-friend-list">
          <ion-icon name="add"></ion-icon>
        </ion-fab-button>
    </ion-fab>
</ion-footer>
