<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-back-button defaultHref='/'></ion-back-button>
        </ion-buttons>
        <ion-title class="ion-text-capitalize ion-text-center">Eventos</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

    <ng-container *ngIf="evento === undefined || evento === null;else elseTemplate">
        <ion-row class="spinner">
            <ion-spinner name="lines"></ion-spinner>
        </ion-row>
    </ng-container>
    
    <ng-template #elseTemplate>
      <ion-item class="animated fadeIn">
        <ion-label>Filtrar por fecha</ion-label>
        <ion-icon mode="ios" name="calendar"></ion-icon>
        <ion-datetime displayFormat="DD/MM/YYYY"
                      [value]="fecha"
                      [(ngModel)]="fecha"
                      cancel-text='Cancelar'
                      done-text="Seleccionar"
                      [min]="fechaMin | date: 'yyyy-MM-dd'"
                      max="2030"
                      (ionChange)="filtrar()"></ion-datetime>
                      <!-- (ionChange)="obtener($event)"></ion-datetime> -->
      </ion-item>
    
      <ion-list>
      <ion-card class="animated fadeIn">
          <ion-item *ngFor="let e of eventos; let i = index" (click)="verEvento(i)">
            <label>{{e.nombreEvento}}</label>
          </ion-item>
        </ion-card>
      </ion-list>
    </ng-template>

  
  </ion-content>
