<ion-header>
    <ion-toolbar>
        <ion-title>typeofingress</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>

    <ion-row class="row h-100 justify-content-center align-items-center">
        <ion-col>
            <ion-button expand="full" size="large" routerLink="/qringress">
                <ion-label><i class="fas fa-qrcode mr-1"></i>Ingreso Rapido</ion-label>
            </ion-button>
        </ion-col>
        <ion-col>
            <ion-button expand="full" size="large" routerLink="/dniserch">
                <ion-label><i class="fas fa-keyboard mr-1"></i>Ingreso <br> Manual</ion-label>
            </ion-button>
        </ion-col>
    </ion-row>

</ion-content>