<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref='/'></ion-back-button>
        </ion-buttons>
        <ion-title class="ion-text-capitalize" class="ion-text-center">IngresAr</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

    <ion-row class="row h-100 justify-content-center align-items-center">
        <ion-col>
            <ion-button size="large" routerLink="/qringress">
                <ion-label><i class="fas fa-qrcode"></i>Ingreso<br>Rapido</ion-label>
            </ion-button>
        </ion-col>
        <ion-col>
            <ion-button size="large" routerLink="/dnisearch">
                <ion-label><i class="fas fa-keyboard"></i>Ingreso<br>Manual</ion-label>
            </ion-button>
        </ion-col>
    </ion-row>

</ion-content>