<ion-header>
  <ion-toolbar color="primary">
      <ion-buttons slot="start">
          <ion-back-button defaultHref='/menu-owner'></ion-back-button>
      </ion-buttons>
      <ion-title class="ion-text-capitalize ion-text-center">Información Útil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen class="ion-padding">

    <ul class="list-group animated fadeIn">
      <li class="list-group-item">Administracion: 2616349517 </li>
      <li class="list-group-item">Emergencias: 911</li>
      <li class="list-group-item">Bomberos: 100 </li>
      <li class="list-group-item">Policía de Mendoza: 101 </li>
      <li class="list-group-item">Policía Federal: 423-8710</li>
    </ul>

</ion-content>
