<ion-header>
  <ion-toolbar color="primary">
      <ion-buttons slot="start">
          <ion-back-button defaultHref='/menu-owner'></ion-back-button>
      </ion-buttons>
      <ion-title class="ion-text-capitalize ion-text-center">Información Útil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen class="ion-padding">

    <ul class="list-group">
      <li class="list-group-item" *ngFor="let n of normas, let i = index" (click)="verNorma(i)"> {{n.titulonorma}} </li>
    </ul>

</ion-content>
