<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-back-button defaultHref='/dnisearch'></ion-back-button>
        </ion-buttons>
        <ion-title class="ion-text-capitalize ion-text-center">IngresAr</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

        <div>
            <h2 class="text-center">¿Donde se dirige?</h2>
            <h3>Ingrese Destino</h3>
            <ion-grid>
                <ion-item>
                    <ion-label>Manzana : </ion-label>
                    <ion-input class="ml-2" required type="text" placeholder="Ingrese Manzana" [(ngModel)]="manzana"></ion-input>
                </ion-item>
            </ion-grid>
            <ion-grid>
                <ion-item>
                    <ion-label>Casa :</ion-label>
                    <ion-input  class="ml-2" required type="number" placeholder="Ingrese Casa" [(ngModel)]="casa"></ion-input>
                </ion-item>
            </ion-grid>
            <div style="text-align-last: right">
                <ion-button [disabled]="!(manzana && casa)" class="mt-4" (click)="destination()">Siguiente</ion-button>
            </div>
        </div>
</ion-content>