<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-back-button defaultHref='/menu-administrator'></ion-back-button>
        </ion-buttons>
        <ion-title>Perfil</ion-title>
    </ion-toolbar>
</ion-header>


<ion-content class="ion-padding" fullscreen>
    <div class="image">
        <ion-avatar>
            <ng-container *ngIf="account?.imageUrl; else elseTemplate">
                <img class="user-img" [src]="account.imageUrl" alt="../../../assets/image.png">
            </ng-container>
            <ng-template #elseTemplate>
                <img class="user-img" src="../../../assets/image.png" alt="">
            </ng-template>
        </ion-avatar>
    </div>

    <ng-container *ngIf="account!==undefined">
        <ion-item-divider>
            Información personal
        </ion-item-divider>
        <ion-item>
            <ion-label position="floating">Nombre</ion-label>
            <ion-input name="Nombre" [(ngModel)]="account.firstName" value="account.firstName"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label position="floating">Apellido</ion-label>
            <ion-input name="Apellido" [(ngModel)]="account.lastName"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label position="floating">Correo electrónico</ion-label>
            <ion-input name="email" [(ngModel)]="account.email"></ion-input>
        </ion-item>
        <ion-item-divider>
            <ion-label>
                Salir
            </ion-label>
        </ion-item-divider>
        <ion-text (click)="cerrarSesion()">
            <h6>Cerrar Sesión</h6>
        </ion-text>
    </ng-container>

</ion-content>