<ion-header>
    <ion-toolbar color="primary">
        <ion-title class="ion-class ion-text-capitalize" style="text-align: center">IngresAr</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <img [src]="image" class="img-fluid mt-4" alt="Responsive image">
    <div class="card mx-auto text-center mt-3" style="width: 18rem;">
        <div class="card-body">
            <form>
                <div class="form-group">
                    <input [(ngModel)]="user.email" type="email" name="email" class="form-control" aria-describedby="emailHelp" placeholder="Email">
                </div>
                <div class="form-group">
                    <div class="input-group mb-3">
                        <input type="text" name="casa" *ngIf="showPwd" [(ngModel)]="user.password" class="form-control" placeholder="Contraseña" aria-label="Contraseña" aria-describedby="basic-addon2">
                        <input type="password" name="casa" *ngIf="!showPwd" [(ngModel)]="user.password" class="form-control" placeholder="Contraseña" aria-label="Contraseña" aria-describedby="basic-addon2">
                        <div class="input-group-append">
                            <span class="input-group-text" id="basic-addon2">
                                <button icon-only ion-button clear type="button" item-right (click)="showPwd=!showPwd">
                                        <ion-icon *ngIf="showPwd" name="eye"></ion-icon>
                                        <ion-icon *ngIf="!showPwd" name="eye-off"></ion-icon>
                                      </button>
                          </span>
                        </div>
                    </div>
                </div>
                <p>Olvidaste tus datos de inicio de sesión?
                    <b routerLink="/forgot">
                        Obtene ayuda.
                    </b>
                </p>
                <button type="submit" value="submit" class="btn btn-primary btn-lg btn-block" (click)="onLogin()" [disabled]="!(user.email && user.password)">Login</button>
                <button type="button" class="btn btn-primary btn-lg btn-block" routerLink="/register">Registrarse</button>
            </form>
        </div>
    </div>
</ion-content>