<ion-header>
    <ion-toolbar>
        <ion-title>Ingreso</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

    <div class="row h-100 justify-content-center align-items-center">
        <div>
            <h2>Porfavor ingrese el documento</h2>
            <ion-item>
                <ion-select placeholder="DNI" value="dni" okText="Seleccionar">DNI
                    <ion-select-option value="DNI">DNI</ion-select-option>
                </ion-select>
                <ion-input type="text" placeholder="Ingrese DNI"></ion-input>
            </ion-item>
        </div>
    </div>
    <div class="fondo">
        <ion-button color="success" routerLink="/destination">Aceptar</ion-button>
    </div>

</ion-content>