<ion-header>
  <ion-toolbar color="primary">
      <ion-buttons slot="start">
          <ion-back-button defaultHref='/'></ion-back-button>
      </ion-buttons>
      <ion-title class="ion-text-capitalize ion-text-center">Crear Propietario</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" fullscreen>

    <ion-row class="ion-justify-content-around">
        <h3>Por favor ingrese el DNI</h3>
        <ion-item>
          <ion-label>DNI:</ion-label>
          <ion-input class="ml-2" type="tel" minlength="7" maxlength="9" placeholder="DNI" [(ngModel)]="dni"></ion-input>
        </ion-item>
    </ion-row>
    <div style="text-align-last: right">
        <ion-button class="mt-4 ion-align-self-end" (click)="getPersonPropietario()">Aceptar</ion-button>
    </div>

</ion-content>
