<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
           <ion-back-button defaultHref='/dnisearch'></ion-back-button>
        </ion-buttons>
        <ion-title text-capitalize class="ion-text-center">IngresAr</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div>
        <div class="text-center" style="margin-top: 20px;">
            <h2>¿Que viene a hacer?</h2>
        </div>
        <div class="row h-100 justify-content-center align-items-center" style="margin-top:50%;">

            <div class="text-lg-center">
                <h2>Seleccione la opcion</h2>
            </div>
        </div>
        <div class="row h-100 justify-content-center align-items-center">
            <div expand="full">
                <ion-button class="boton" color="primary" size="large" routerLink="/transport">Visita</ion-button>
            </div>
            <div expand="full">
                <ion-button class="boton" color="dark" size="large">Servicio</ion-button>
            </div>
        </div>
    </div>

</ion-content>