<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref='/dnisearch'></ion-back-button>
        </ion-buttons>
        <ion-title class="ion-text-capitalize" class="ion-text-center">IngresAr</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
    <div>
        <div class="text-center" style="margin-top: 20px;">
            <h2>¿Que viene a hacer?</h2>
        </div>
        <div class="row h-100 justify-content-center align-items-center" style="margin-top:50%;">

            <div class="text-lg-center">
                <h2>Seleccione la opcion</h2>
            </div>
        </div>
        <!-- <div class="row h-100 justify-content-center align-items-center">
            <div expand="full">
                <ion-button class="boton" color="primary" size="large" routerLink="/transport">Visita</ion-button>
            </div>
            <div expand="full">
                <ion-button class="boton" color="dark" size="large">Servicio</ion-button>
            </div>
        </div> -->
        <ion-row class="row h-100 justify-content-center align-items-center">
            <ion-col>
                <ion-button expand="full" size="large" (click)="visita()">
                    <ion-label><i class="fas fa-user-alt"></i>Visita</ion-label>
                </ion-button>
            </ion-col>
            <ion-col>
                <ion-button expand="full" size="large" (click)="servicio()">
                    <ion-label><i class="fas fa-tools"></i>Servicio</ion-label>
                </ion-button>
            </ion-col>
        </ion-row>
    </div>

</ion-content>