ion-content {
    position: relative;
}
.select-people-size {
    width: 18cm;
}

ion-footer {
    position: relative;
    align-content: flex-end;
    padding-bottom: 25px;
}

ion-input {
    text-align: center;
}
.select-DNI-size {
    text-align: center;
    width: 2cm;
}