<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-back-button defaultHref='/transport'></ion-back-button>
        </ion-buttons>
        <ion-title class="ion-text-capitalize ion-text-center">IngresAr</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

    <ion-row style="place-content: center">
        <h3>¿Quien autoriza el ingreso?</h3>
    </ion-row>
    <ion-row>
        <ion-list>
            <ion-item>
                <ion-select class="select-people-size" placeholder="¿Quien autoriza?" okText="Seleccionar" [(ngModel)]="index">
                    <ion-select-option [value]=i *ngFor="let p of personaAut; let i = index"> {{p.nombrePersona}} {{p.apellidoPersona}}</ion-select-option>
                </ion-select>
            </ion-item>
        </ion-list>
    </ion-row>

    <ion-row style="place-content: center">
        <h3>Acompañantes</h3>
    </ion-row>
    <ion-row>
        <!-- <ion-item>
            <ion-select class="select-DNI-size" placeholder="DNI" value="dni" okText="Seleccionar">DNI
                <ion-select-option value="DNI">DNI</ion-select-option>
            </ion-select>
            <ion-input type="text" placeholder="Ingrese DNI" [(ngModel)]="dni"></ion-input>
            <ion-icon name="add" color="black"></ion-icon>
        </ion-item> -->
        <ion-item>
            <ion-label position="fixed">Cantidad: </ion-label>
            <ion-input [value]=c antidad [(ngModel)]="cantidad"></ion-input>
        </ion-item>
    </ion-row>


</ion-content>

<ion-footer no-border>
    <ion-button (click)="procesarIngresoJson()">
        Procesar Ingreso
    </ion-button>
</ion-footer>