<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-back-button defaultHref='/transport'></ion-back-button>
        </ion-buttons>
        <ion-title class="ion-text-capitalize ion-text-center">IngresAr</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

    <ion-row style="place-content: center">
        <h3>¿Quien autoriza el ingreso?</h3>
    </ion-row>
    <ion-row>
        <ion-list>
            <ion-item>
                <ion-select class="select-people-size" placeholder="¿Quien autoriza?" okText="Seleccionar" [(ngModel)]="index">
                    <ion-select-option [value]=i *ngFor="let p of personaAut; let i = index"> {{p.nombrePersona}} {{p.apellidoPersona}}</ion-select-option>
                </ion-select>
            </ion-item>
        </ion-list>
    </ion-row>

    <ion-row style="place-content: center">
        <h3>Acompañantes</h3>
    </ion-row>
    <ion-row>
        <ion-item>
            <ion-label>Cantidad: </ion-label>
            <ion-select class="select-people-size" placeholder="0" okText="Seleccionar" [(ngModel)]="cantidad">
                <ion-select-option value=0> 0 </ion-select-option>
                <ion-select-option value=1> 1 </ion-select-option>
                <ion-select-option value=2> 2 </ion-select-option>
                <ion-select-option value=4> 3 </ion-select-option>
                <ion-select-option value=4> 4 </ion-select-option>
                <ion-select-option value=5> 5 </ion-select-option>
            </ion-select>
        </ion-item>
        <ion-item>
            <ion-select class="select-DNI-size" placeholder="DNI" value="dni" okText="Seleccionar">DNI
                <ion-select-option value="DNI">DNI</ion-select-option>
            </ion-select>
            <ion-input style="text-align: center" type="number" placeholder="Ingrese DNI" [(ngModel)]="dni"></ion-input>
            <ion-icon name="add" color="black" (click)="buscarAcompaniante()"></ion-icon>
        </ion-item>
        <!-- <ion-list>
            <ion-row>
                <ion-col>
                    <ion-item>
                        <ion-label>
                            Apellido
                        </ion-label>
                    </ion-item>
                </ion-col>
                <ion-col>
                    <ion-item>
                        <ion-label>
                            Nombre
                        </ion-label>
                    </ion-item>
                </ion-col>
                <ion-col>
                    <ion-item>
                        <ion-label>
                            DNI
                        </ion-label>
                    </ion-item>
                </ion-col>
            </ion-row>
            <ion-row *ngFor="let ac of planillaAcompaniantes">
                <ion-col>
                    <ion-item>
                        <ion-label>
                            {{ac.apellidoPersona}}
                        </ion-label>
                    </ion-item>
                </ion-col>
                <ion-col>
                    <ion-item>
                        <ion-label>
                            {{ac.nombrePersona}}
                        </ion-label>
                    </ion-item>
                </ion-col>
                <ion-col>
                    <ion-item>
                        <ion-label>
                            {{ac.dniPersona}}
                        </ion-label>
                    </ion-item>
                </ion-col>
            </ion-row>
        </ion-list> -->
    </ion-row>


</ion-content>

<ion-footer no-border>
    <ion-button (click)="global()">
        Procesar Ingreso
    </ion-button>
</ion-footer>