<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-back-button defaultHref='/manage-common-space'></ion-back-button>
        </ion-buttons>
        <ion-title class="ion-text-capitalize ion-text-center">IngresAr</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-card>
    <ion-row>
      <img [src]="convertedImg" height="250px">
    </ion-row>
    <ion-row class="mt-2">
        <ion-icon name="image" class="mr-3 icon" (click)="getPictureAlbum()"></ion-icon>
        <ion-icon name="camera" class="icon" (click)="getPicture()"></ion-icon>
    </ion-row>
    
    <ion-card-content>
        <ion-item style="text-align-last: center;">
            <ion-input required type="text" [(ngModel)]="nombreEspacioComun"></ion-input>
        </ion-item>

        <ion-item>
            <ion-label>Disponibilidad Desde:</ion-label>
            <ion-datetime displayFormat="HH:mm"  
                          picker-format="HH:mm" 
                          [value]="disponibilidadDesde"
                          [(ngModel)]="disponibilidadDesde"></ion-datetime>
        </ion-item>

        <ion-item>
            <ion-label>Disponibilidad Hasta:</ion-label>
            <ion-datetime displayFormat="HH:mm"  
                          picker-format="HH:mm" 
                          [value]="disponibilidadHasta"
                          [(ngModel)]="disponibilidadHasta"></ion-datetime>
          </ion-item>

    </ion-card-content>
  </ion-card>


<!-- 

  <ion-row style="place-content: center"  class="row-img">
    <ion-img *ngIf="espacioComun?.fotoEspacioComun !== undefined || espacioComun?.fotoEspacioComun !== ''" [src]="espacioComun?.fotoEspacioComun"></ion-img>
    <ion-img *ngIf="espacioComun?.fotoEspacioComun === undefined || espacioComun?.fotoEspacioComun === ''" [src]="espacioComun?.fotoEspacioComun"></ion-img>
    <ion-img [src]=foto></ion-img>
  </ion-row>
  <ion-row>
      <ion-icon name="image" class="mr-3 icon" (click)="getPictureAlbum()"></ion-icon>
      <ion-icon name="camera" class="icon" (click)="getPicture()"></ion-icon>
  </ion-row>
  <ion-row style="place-content: center">
    <ion-item>
        <ion-input required type="text" [(ngModel)]="nombreEspacioComun"></ion-input>
    </ion-item>
  </ion-row>
  <ion-row>
    <ion-item>
        <ion-item>
            <ion-label>Disponibilidad Desde:</ion-label>
            <ion-datetime displayFormat="HH:mm"  
                          picker-format="HH:mm" 
                          [value]="disponibilidadDesde"
                          [(ngModel)]="disponibilidadDesde"></ion-datetime>
        </ion-item>
    </ion-item>
  </ion-row>
  <ion-row>
    <ion-item>
        <ion-item>
            <ion-label>Disponibilidad Hasta:</ion-label>
            <ion-datetime displayFormat="HH:mm"  
                          picker-format="HH:mm" 
                          [value]="disponibilidadHasta"
                          [(ngModel)]="disponibilidadHasta"></ion-datetime>
          </ion-item>
    </ion-item>
  </ion-row> -->

  <ion-row class="mt-3">
    <ion-col>
      <ion-button routerLink='/manage-common-space'>Volver</ion-button>
    </ion-col>
    <ion-col style="text-align: right;">
      <ion-button (click)="ActualizarEspacioComun()">Guardar</ion-button>
    </ion-col>
  </ion-row>

  <!-- <ion-button (click)="mostrar()">Mostrar</ion-button> -->

</ion-content>
